* {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal !important;
  }

  .button-float {
    background: #f2f2f2;
    position: absolute;
  }
  .button-float .disabled-color {
    color: #828282 !important;
  }
  .button-float .enabled-color {
    color: #f2994a !important;
  }
  .label {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #4f4f4f;
  }
  .btn-green {
    background: #11555f;
    padding: 10px 20px;
    border-radius: 60px;
  }
  .text-btn-green {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
  }
  .favorite{
    color: #F2994A;
  }